*{
  margin:0;
  padding:0;
}
body{
  background-color: DarkCyan;
  color: white;
  font-family: 'Archivo Black', sans-serif;  
}
li{
   list-style-type: none;
}
.panel{
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background-color: blue;
}
a {
  color: white;
}